<% id=(includeTitle) ? "button" : "button-start" %>

<div class="accordion mb-3" id="<%= id %>-accordion">
  <%if (includeTitle) {%>
    <div class="card text-white bg-secondary border-light">
      <div class="card-header border-light"><h4 class="mb-0">Button</h4></div>
    </div>
  <%}%>
  <%- include('partials/position', {id:id}); %>
  <div class="card text-white bg-secondary border-light">
    <div class="card-header" id="<%= id %>Header3">
      <a class="collapsed" type="button" data-toggle="collapse" data-target="#<%= id %>-binding-tool" aria-expanded="false" aria-controls="<%= id %>-binding-tool">
        <i class="fas fa-link"></i> Binding
      </a>
    </div>
    <div id="<%= id %>-binding-tool" class="collapse" aria-labelledby="<%= id %>Header3" data-parent="#<%= id %>-accordion">
      <div class="card-body">
        <div class="form-group">
          <label for="<%= id %>-binding">Button binding</label>
          <select class="custom-select form-control binding" id="<%= id %>-binding">
            <option value='start'>Start Game</option>
            <option value='return'>Return to previous menu/game</option>
            <option value='main'>Open Main Menu</option>
            <option value='settings'>Open Settings Menu</option>
            <option value='saveload'>Open Save/Load Menu</option>
            <option disabled>_________</option>
            <option value='save'>Save in slot</option>
            <option value='load'>Load from slot</option>
            <option disabled>_________</option>
            <option value='auto'>Autoplay</option>
            <option value='skip'>Skip (autoplay really fast)</option>
            <option value='mute'>Mute sound</option>
            <option disabled>_________</option>
            <option value='other'>Other Action</option>
          </select>
        </div>
        <div class="form-group collapse" id='<%= id %>-slot-value'>
          <div class="form-group">
            <label for="<%= id %>-slot">Slot</label>
            <input class="form-control slot" type="number" id="<%= id %>-slot" value="0">
          </div>
        </div>  
        <div class="form-group collapse" id='<%= id %>-other-value'>
          <div class="form-group">
            <label for="<%= id %>-other">Other Binding</label>
            <input class="form-control other-binding" type="text" id="<%= id %>-other" value="other">
          </div>
        </div>  
      </div>
    </div>
  </div>
  <%- include('partials/sfx', {id:id}); %>
  <%if (includeTitle) {%>
    <%- include('partials/z-order', {id:id}); %>
    <%- include('partials/remove-button', {type:'list'}); %>
  <%}%>
</div>


