<% id=(includeTitle) ? "label" : "label-start" %>
<div class="accordion mb-3" id="<%= id %>-accordion">
  <div class="card text-white bg-secondary border-light">
    <div class="card-header border-light"><h3 class="mb-0">Label</h3></div>
  </div>
  <div class="card text-white bg-secondary border-light">
    <div class="card-header" id="<%= id %>Header1">
      <a type="button" data-toggle="collapse" data-target="#<%= id %>-text-tool" aria-expanded="false" aria-controls="<%= id %>-text-tool">
        Text
      </a>
    </div>
    <div id="<%= id %>-text-tool" class="collapse show" aria-labelledby="<%= id %>Header1" data-parent="#<%= id %>-accordion">
      <div class="card-body">
        <div class="form-group">
          <input class="form-control" id="<%= id %>-text">
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/position', {id:id}); %>
  <%- include('partials/text-style', {id:id}); %>
</div>


