<% id=(includeTitle) ? "name-box" : "name-box-start" %>
<div class="accordion mb-3" id="<%= id %>-accordion">
  <%if (includeTitle) {%>
    <div class="card text-white bg-secondary border-light">
      <div class="card-header border-light"><h4 class="mb-0">Name Box</h4></div>
    </div>
  <%}%>
  <%- include('partials/position', {id:id}); %>
  <%- include('partials/text-style', {id:id, text:"name"}); %>
  <%- include('partials/text-position', {id:id}); %>
  <%if (includeTitle) {%>
    <%- include('partials/z-order', {id:id}); %>
    <%- include('partials/remove-button', {type:'single'}); %>
  <%}%>
</div>


