<% id=(includeTitle) ? "saveslot" : "saveslot-start" %>
<div class="accordion mb-3" id="<%= id %>-accordion">
	<%if (includeTitle) {%>
		<div class="card text-white bg-secondary border-light">
		  <div class="card-header border-light"><h3 class="mb-0">Save Slot</h3></div>
		</div>
	<%}%>
  <%- include('partials/position', {id: id}); %>
  <div class="card text-white bg-secondary border-light">
    <div class="card-header" id="<%= id %>Header3">
      <a class="collapsed" type="button" data-toggle="collapse" data-target="#<%= id %>-slot-tool" aria-expanded="false" aria-controls="<%= id %>-slot-tool">
        Slot
      </a>
    </div>
    <div id="<%= id %>-slot-tool" class="collapse" aria-labelledby="<%= id %>Header3" data-parent="#<%= id %>-accordion">
      <div class="card-body">
        <div class="form-group collapse">
          <div class="form-group">
            <input class="form-control slot" type="number" id="<%= id %>-slot" value="0">
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
  
