<% id=(includeTitle) ? "slider" : "slider-start" %>

<div class="accordion mb-3" id="<%= id %>-accordion">
  <%if (includeTitle) {%>
    <div class="card text-white bg-secondary border-light">
      <div class="card-header border-light"><h4 class="mb-0">Slider</h4></div>
    </div>
  <%}%>
  <%- include('partials/position', {id:id}); %>
  <div class="card text-white bg-secondary border-light">
    <div class="card-header" id="sliderHeader3">
      <a class="collapsed" type="button" data-toggle="collapse" data-target="#<%= id %>-binding-tool" aria-expanded="false" aria-controls="<%= id %>-binding-tool">
        Binding
      </a>
    </div>
    <div id="<%= id %>-binding-tool" class="collapse" aria-labelledby="sliderHeader3" data-parent="#<%= id %>-accordion">
      <div class="card-body">
        <div class="form-group">
          <label for="<%= id %>-binding">Slider binding</label>
          <select class="form-control binding" id="<%= id %>-binding">
            <option value='bgmv'>Music Volume</option>
            <option value='sfxv'>SFX Volume</option>
            <option disabled>_________</option>
            <option value='textSpeed'>Text Speed</option>
            <option value='autoSpeed'>Autoplay Speed</option>
            <option disabled>_________</option>
            <option value='other'>Other property</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <%if (includeTitle) {%>
    <div class="card text-white bg-secondary border-light">
      <div class="card-header" id="sliderHeader4">
        <a class="collapsed" type="button" data-toggle="collapse" data-target="#slider-state-tool" aria-expanded="false" aria-controls="slider-state-tool">
          State
        </a>
      </div>
      <div id="slider-state-tool" class="collapse" aria-labelledby="sliderHeader4" data-parent="#slider-accordion">
        <div class="card-body">
          <div class="form-group">                
            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked="" onclick="showFrame(0)"> Empty
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off" onclick="showFrame(1)"> Full
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%}%>
  <%if (includeTitle) {%>
    <%- include('partials/remove-button', {type:'list'}); %>
  <%}%>
</div>


