<!DOCTYPE html>
<%- include('include/head'); %>
<head>
    <link rel="stylesheet" href="stylesheets/navbar-fixed-left.css">
</head>
<html lang="en">
    <body>
        <%- include('include/navbar'); %>
        <%- include('include/toolbox'); %>
        <%- include('include/specific-components'); %>
        <%- include('include/general-components'); %>
        

        <div class="canvas-container" id="canvas-container">
          <div id='preload-canvas'></div>
        </div>
        <div class="canvas-container bs-component" id="fonts-container">
            <div class="card text-white mb-3 bg-secondary collapse font-template">
              <div class="card-header"><span class="font-name">button_pressed</span> <button type="button" class="close text-white remove-font"><i class="fas fa-trash" ></i></button></div>
              <div class="card-body">
                <input class="form-control font-text" value="Almost before we knew it, we had left the ground.">
                <br>
                <h4 class="card-title" >Almost before we knew it, we had left the ground.</h4>
                
              </div>
            </div>
        </div>

        <div class="canvas-container bs-component" id="audio-container">
            <div class="card text-white mb-3 bg-secondary  audio-template">
              <div class="card-header"><span class="audio-name">button_pressed</span> <span class="badge badge-secondary">Secondary</span> <button type="button" class="close text-white remove-audio"><i class="fas fa-trash" ></i></button></div>
              <div class="card-body">
                <audio controls class="audio-sample" src="">
                  Your browser does not support the
                  <code>audio</code> element.
                </audio>
                <br>
                
              </div>
            </div>
        </div>

        <div class="modal" id="error-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">There is a problem!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
            gui = JSON.parse('<%- gui %>');
            guiName = "<%= name %>";
        </script>


        <script src="jquery/jquery.min.js"></script>
        <script src="popper/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="js/phaser.min.js"></script>
        <script src="js/add-components.js"></script>
        <script src="js/toolbox.js"></script>
        <script src="js/edit-gui.js"></script>
    </body>
</html>


