<%- include('components/partials/modal-header', {id:"image",title:"Image"}); %>
  <%- include('components/partials/upload-image', {id:"image"}); %>
  <%- include('components/image-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"image",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"save-slot",title:"Save Slot"}); %>
  <p>The save slot image is a space representing a saved game. When the slot is used, an image taken from the game at the save point will be displayed. If the slot is free, this image will be displayed. Save slot images are not mandatory to have many save slots, but they are good to help the player remember which slot is which. Combine the save slot with save/load buttons to create the save/load menu.</p>
  <%- include('components/partials/upload-image', {id:"save-slot"}); %>
  <%- include('components/save-slot-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"save-slot",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"animation",title:"Animation"}); %>
  <p>The animation is a spritesheet that will loop repeteadly. A spritesheet is a single image that contains many frames, read from the top-left frame to the bottom right.</p>
  <%- include('components/partials/upload-image', {id:"animation"}); %>
  <%- include('components/partials/frame-size', {id:"animation"}); %>
  <%- include('components/animation-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"animation",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"button",title:"Button"}); %>
  <p>A button is a spritesheet with 3 frames: normal view, hover view and pressed view. The button has a binding to an action, e.g. start the game.</p>
  <%- include('components/partials/upload-image', {id:"button"}); %>
  <%- include('components/partials/frame-size', {id:"button"}); %>
  <%- include('components/button-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"button",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"slider",title:"Slider"}); %>
  <p>A slider is a handy element to set a numeric option between two (min and max)values. E.g. the music volume or the speed at which the text will appear. The element is composed of an image with two frames, empty and full, and it's assumed the minimum value will be at the left side and the maximum at the right side. If only one frame is present, it will be considered full.</p>
  <%- include('components/partials/upload-image', {id:"slider"}); %>
  <%- include('components/partials/frame-size', {id:"slider"}); %>
  <%- include('components/slider-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"slider",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"label",title:"Label"}); %>
  <p>A label is just a text, with no particular purpose or behaviour.</p>
  <%- include('components/label-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"label",type:"label"}); %>

