<%- include('components/partials/modal-header', {id:"image",title:"Image"}); %>
  <%- include('components/partials/upload-image', {id:"image"}); %>
  <%- include('components/image-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"image",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"animation",title:"Animation"}); %>
  <p>The animation is a spritesheet that will loop repeteadly. A spritesheet is a single image that contains many frames, read from the top-left frame to the bottom right.</p>
  <%- include('components/partials/upload-image', {id:"animation"}); %>
  <%- include('components/partials/frame-size', {id:"animation"}); %>
  <%- include('components/animation-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"animation",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"button",title:"Button"}); %>
  <p>A button is a spritesheet with 3 frames: normal view, hover view and pressed view. The button has a binding to an action, e.g. start the game.</p>
  <%- include('components/partials/upload-image', {id:"button"}); %>
  <%- include('components/partials/frame-size', {id:"button"}); %>
  <%- include('components/button-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"button",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"slider",title:"Slider"}); %>
  <p>A slider is a handy element to set a numeric option between two (min and max)values. E.g. the music volume or the speed at which the text will appear. The element is composed of an image with two frames, empty and full, and it's assumed the minimum value will be at the left side and the maximum at the right side.</p>
  <%- include('components/partials/upload-image', {id:"slider"}); %>
  <%- include('components/partials/frame-size', {id:"slider"}); %>
  <%- include('components/slider-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"slider",type:"list"}); %>

<%- include('components/partials/modal-header', {id:"label",title:"Label"}); %>
  <p>A label is just a text, with no particular purpose or behaviour.</p>
  <%- include('components/label-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"label",type:"label"}); %>

<div class="modal" id="fonts-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Font</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>The fonts are .ttf files that will give the style to the text on the game. You can download free fonts from <a href="https://fonts.google.com/">Google Fonts</a> or other font pages like <a href="https://www.fontsquirrel.com/">Font Squirrel</a>.</p>
        <fieldset>
          <legend>Font file (.ttf):</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="font-input">
                <label class="custom-file-label" for="font-input">Choose file</label>
              </div>
            </div>
          </div>
          <legend>Font Name</legend>
          <small class="form-text text-muted">The name will be used as key to refer to this font inside the game.</small>
          <div class="form-group">
            <input class="form-control" id="font-name" >
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-font" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



<div class="modal" id="saveslot-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Save Slot Thumbnail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>The save slot thumbnail is a space representing a saved game. When the slot is used, an image taken from the game at the save point will be displayed. If the slot is free, the save slot thumbnail will be displayed. Save slot thumbnails are not mandatory to have many save slots, but they are good to help the player remember which slot is which. Combine the save slot thumbnail with save/load buttons to create the save/load menu.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-saveslot.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Position:</legend>
          <small id="imageHelp" class="form-text text-muted">You can change the position later.</small>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="saveslot-start-x" default="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="saveslot-start-y" default="0">
            </div>
          </div>
          <legend>Slot:</legend>
          <small class="form-text text-muted">The slot is a number that will be used as index for a save game. You can have as many save slots as you want. You can change the value later.</small>
          <div class="form-group">
            <input class="form-control" type="number" id="saveslot-start-slot">
          </div>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-list-component" component='saveslot' data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
