<%- include('components/partials/modal-header', {id:"bg",title:"Image"}); %>
  <p>The background should normally be the same size as the game screen. It will be placed at 0,0 position.</p>
  <%- include('components/partials/upload-image', {id:"bg"}); %>
<%- include('components/partials/modal-footer', {id:"bg",type:"bg"}); %>

<%- include('components/partials/modal-header', {id:"loading-bar",title:"Loading Bar"}); %>
  <p>The slider bar is a spritesheet with two frames: First frame is the empty bar, second is the full bar.</p>
  <%- include('components/partials/upload-image', {id:"loading-bar"}); %>
  <%- include('components/partials/frame-size', {id:"loading-bar"}); %>
  <%- include('components/loading-bar-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"loading-bar",type:"loading-bar"}); %>

<%- include('components/partials/modal-header', {id:"name-box",title:"Name Box"}); %>
  <p>The name box is an image over which the name of the characters will appear when they are talking. You can define the style of the text, but the color will be taken from each character setup.</p>
  <%- include('components/partials/upload-image', {id:"name-box"}); %>
  <%- include('components/name-box-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"name-box",type:"name-box"}); %>

<%- include('components/partials/modal-header', {id:"ctc",title:"Click to continue"}); %>
  <p>The CTC (click to continue) is a small image that will appear when the game is waiting for the player to click anywhere to continue. Normally, after showing text or dialog. You can place it anywhere in the screen, but it's usually contained within the text box.</p>
  <%- include('components/partials/upload-image', {id:"ctc"}); %>
  <legend>Animation Style:</legend>
  <small class="form-text text-muted">The CTC is always animated, since you want to attract the attention of the player. The animation can be traditional, by using a spritesheet; or tweened, in which case you only need a static image, and RenJS will take care of animating the alpha (transparency).</small>
  <div class="form-group">
    <div class="btn-group btn-group-toggle" id='ctc-start-style' data-toggle="buttons">
      <label class="btn btn-secondary">
        <input type="radio" name="options" opt='tween' autocomplete="off" checked=""> Tween
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" opt="spritesheet" autocomplete="off"> Spritesheet
      </label>
    </div>
  </div>
  <div id='ctc-spritesheet-options' class="collapse">
    <%- include('components/partials/frame-size', {id:"ctc"}); %>
  </div>
  <%- include('components/ctc-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"ctc",type:"ctc"}); %>

<%- include('components/partials/modal-header', {id:"choice",title:"Choice"}); %>
  <p>A choice is a box with text representing an option to take inside the game. It's in esence a button, so its graphic has the same format: A spritesheet with two or three frames meaning Normal View, Hover View and Pressed View. If only two frames are present, pressed view will be the same as normal view.</p>
  <%- include('components/partials/upload-image', {id:"choice"}); %>
  <%- include('components/partials/frame-size', {id:"choice"}); %>
  <%- include('components/choice-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"choice",type:"choice"}); %>

<%- include('components/partials/modal-header', {id:"interrupt",title:"Interrupt"}); %>
  <p>An interrupt is a choice that will not block the game, and will remain on screen for a few steps. The player has the option to press it or not. More info on interrupts can be found on the <a href="/renjsdocs">RenJS Docs</a>. As with the choices, the interrupt is a box with text representing an option to take inside the game. Its graphic has the same format as a button: A spritesheet with two or three frames meaning Normal View, Hover View and Pressed View. If only two frames are present, pressed view will be the same as normal view. <br>Additionally, an interrupt can have two (or three) more frames, for the urgent state. This state means the interrupt is soon to disappear.</p>
  <%- include('components/partials/upload-image', {id:"interrupt"}); %>
  <%- include('components/partials/frame-size', {id:"interrupt"}); %>
  <%- include('components/interrupt-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"interrupt",type:"interrupt"}); %>

<%- include('components/partials/modal-header', {id:"message-box",title:"Loading Bar"}); %>
  <p>The message box is the main element for diplaying text during the game. Text and dialog will be displayed over an image, letter by letter. </p>
  <%- include('components/partials/upload-image', {id:"message-box"}); %>
  <%- include('components/message-box-tools', {includeTitle:false}); %>
<%- include('components/partials/modal-footer', {id:"message-box",type:"message-box"}); %>

