<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-left">
    <span class="navbar-brand"><%= name %></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toolbox" aria-controls="toolbox" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toolbox">
        <ul class="navbar-nav">
            <li class="nav-item mt-4">
              <!-- <hr class="border-light">   -->
                <div class="btn-group btn-block mb-3" role="group">
                  <button type="button" class="btn btn-outline-light">Add...</button>
                  <div class="btn-group" role="group">
                    <button id="addDrop" type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="addDrop">
                      <a class="dropdown-item asset-add asset-loader asset-main asset-settings asset-saveload" href="#" data-toggle="modal" data-target="#bg-modal">Background</a>
                      <a class="dropdown-item asset-add asset-hud" href="#" data-toggle="modal" data-target="#message-box-modal">Message Box</a>
                      <a class="dropdown-item asset-add asset-hud" href="#" data-toggle="modal" data-target="#name-box-modal">Name Box</a>
                      <a class="dropdown-item asset-add asset-hud" href="#" data-toggle="modal" data-target="#ctc-modal">Click To Continue</a>
                      <a class="dropdown-item asset-add asset-hud" href="#" data-toggle="modal" data-target="#choice-modal">Choice Box</a>
                      <a class="dropdown-item asset-add asset-hud" href="#" data-toggle="modal" data-target="#interrupt-modal">Interrupt Box</a>
                      <a class="dropdown-item asset-add asset-loader" href="#" data-toggle="modal" data-target="#loading-bar-modal">Loading Bar</a>
                      <a class="dropdown-item asset-add asset-all" href="#" data-toggle="modal" data-target="#image-modal">Image</a>
                      <a class="dropdown-item asset-add asset-all" href="#" data-toggle="modal" data-target="#label-modal">Label</a>
                      <a class="dropdown-item asset-add asset-all" href="#" data-toggle="modal" data-target="#animation-modal">Animation</a>
                      <a class="dropdown-item asset-add asset-main asset-settings asset-hud asset-saveload" href="#" data-toggle="modal" data-target="#button-modal">Button</a>
                      <a class="dropdown-item asset-add asset-main asset-settings asset-hud asset-saveload" href="#" data-toggle="modal" data-target="#slider-modal">Slider</a>
                      <a class="dropdown-item asset-add asset-fonts" href="#" data-toggle="modal" data-target="#fonts-modal">Font</a>
                      <a class="dropdown-item asset-add asset-audio" href="#" data-toggle="modal" data-target="#audio-modal">Audio</a>
                      
                    </div>
                  </div>
                </div>
            </li>
            
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item collapse background-tools tools">
              <div class="accordion mb-3" id="background-accordion">
                <div class="card text-white bg-secondary border-light">
                  <div class="card-header border-light"><h3 class="mb-0">Background</h3></div>
                </div>
              </div>
              <%- include('components/partials/remove-button', {type:'single'}); %>
            </li>

            <li class="nav-item collapse loading-bar-tools tools">
              <%- include('components/loading-bar-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'single'}); %>
            </li>

            <li class="nav-item collapse name-box-tools tools">
              <%- include('components/name-box-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'single'}); %>
            </li>

            <li class="nav-item collapse ctc-tools tools">
              <%- include('components/ctc-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'single'}); %>
            </li>

            <li class="nav-item collapse message-box-tools tools">
              <%- include('components/message-box-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'single'}); %>
            </li>

            <li class="nav-item collapse choice-tools tools">
              <%- include('components/choice-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'choice'}); %>
            </li>
            
            <li class="nav-item collapse interrupt-tools tools">
              <%- include('components/interrupt-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'interrupt'}); %>
            </li>
            
            <li class="nav-item collapse image-tools tools">
              <%- include('components/image-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'list'}); %>
              
            </li>
            <li class="nav-item collapse button-tools tools">
              <%- include('components/button-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'list'}); %>
            </li>
            <li class="nav-item collapse slider-tools tools">
              <%- include('components/slider-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'list'}); %>
            </li>
            <li class="nav-item collapse label-tools tools">
              <%- include('components/label-tools', {includeTitle:true}); %>
              <%- include('components/partials/remove-button', {type:'list'}); %>
            </li>


            
            
        </ul>

    </div>
</nav>