<div class="card text-white bg-secondary border-light">
  <div class="card-header" id="<%= id %>TextStyleHeader">
    <a class="collapsed" type="button" data-toggle="collapse" data-target="#<%= id %>-style-tool" aria-expanded="false" aria-controls="<%= id %>-style-tool">
      Text Style
    </a>
  </div>
  <div id="<%= id %>-style-tool" class="collapse" aria-labelledby="<%= id %>TextStyleHeader" data-parent="#<%= id %>-accordion">
    <div class="card-body">
      <div class="form-group">
        <label for="<%= id %>-size">Size</label>
        <input type="number" class="form-control text-size" id="<%= id %>-size"/>
      </div>
      <div class="form-group">
        <label for="<%= id %>-font">Font</label>
        <select class="form-control font-select text-font" id="<%= id %>-font">
        </select>
      </div>
      <div class="form-group">
        <label for="<%= id %>-color">Color</label>
        <div class="input-group colorpicker-component">
          <input type="text" class="form-control text-color" id="<%= id %>-color" value="#FFFFFF"/>
          <span class="input-group-append">
            <span class="input-group-text colorpicker-input-addon"><i></i></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>