<div class="card text-white bg-secondary border-light">
  <div class="card-header" id="<%= id %>TextStyleHeader">
    <a class="collapsed" type="button" data-toggle="collapse" data-target="#<%= id %>-style-tool" aria-expanded="false" aria-controls="<%= id %>-style-tool">
      Text Style
    </a>
  </div>
  <div id="<%= id %>-style-tool" class="collapse" aria-labelledby="<%= id %>TextStyleHeader" data-parent="#<%= id %>-accordion">
    <div class="card-body">
      <%if (id.includes('interrupt')) {%>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input show-more-when-off" target='<%= id %>-text-style-not-same-as-choices-options' id="<%= id %>-text-style-same-as-choices" checked="">
            <label class="custom-control-label" for="<%= id %>-text-style-same-as-choices">Same as choices</label>
          </div>
        </div>
      <%}%>
      <div id="<%= id %>-text-style-not-same-as-choices-options" class='<%if (id.includes("interrupt")) {%>collapse<%}%>'>
        <div class="form-group">
          <label for="<%= id %>-size">Size</label>
          <input type="number" class="form-control text-size" target="<%= text %>" id="<%= id %>-size" value="20" />
        </div>
        <div class="form-group">
          <label for="<%= id %>-font">Font</label>
          <select class="form-control font-select text-font" target="<%= text %>" id="<%= id %>-font">
          </select>
        </div>
        <div class="form-group">
          <label for="<%= id %>-color">Color</label>
          <div class="input-group colorpicker-component">
            <input type="text" class="form-control text-color" target="<%= text %>" id="<%= id %>-color" value="#FFFFFF"/>
            <span class="input-group-append">
              <span class="input-group-text colorpicker-input-addon"><i></i></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>